{% extends 'admin_base.html' %}
{% block content %}
<div class="container">
    <h2 class="mb-4">Statistiques Générales</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Total Voitures</h5>
                    <h3>{{ total_cars }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Utilisateurs</h5>
                    <h3>{{ total_users }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Prix Moyen</h5>
                    <h3>{{ avg_price }} DH</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
